<div id="shopbar">
  <ul>
    <li class="popup">
      <a href="/"><span>All Workshops</span></a>
      <ul>
        <li><a href="/2016-antwerp/">2016 Antwerp</a></li>
        <li><a href="/2015-liege/">2015 Liege</a></li>
        <li><a href="/2015-warsaw/">2015 Warsaw</a></li>
        <li><a href="/2015-vilnius/">2015 Vilnius</a></li>
        <li><a href="/2015-antwerp/">2015 Antwerp</a></li>
        <li><a href="/2014-vilnius/">2014 Vilnius</a></li>
        <li><a href="/2014-antwerp/">2014 Antwerp</a></li>
        <li><a href="/2013-valence/">2013 Valence</a></li>
        <li><a href="/2013-montreal/">2013 Montréal</a></li>
        <li><a href="/2013-vilnius/">2013 Vilnius</a></li>
        <li><a href="/2013-helsinki/">2013 Helsinki</a></li>
        <li><a href="/2013-lahti/">2013 Lahti</a></li>
        <li><a href="/2013-antwerp/">2013 Antwerp</a></li>
        <li><a href="/2012-the-hague/">2012 The Hague</a></li>
        <li><a href="/2012-antwerp/">2012 Antwerp</a></li>
        <li><a href="/2011-torino/">2011 Torino</a></li>
        <li><a href="/2011-vilnius/">2011 Vilnius</a></li>
        <li><a href="/2011-mad-fac/">2011 MAD-faculty</a></li>
        <li><a href="/2011-lahti/">2011 Lahti</a></li>
        <li><a href="/2011-helsinki/">2011 Helsinki</a></li>
        <li><a href="/2011-antwerp/">2011 Antwerp</a></li>
        <li><a href="/2010-antwerp/">2010 Antwerp</a></li>
        <li><a href="/2010-lahti/">2010 Lahti</a></li>
        <li><a href="/2009-lahti/">2009 Lahti</a></li>
        <li><a href="/2008-helsinki/">2008 Helsinki</a></li>
        <li><a href="/2007/">2007 Lahti</a></li>
        <li><a href="/2005/">2005 Lahti</a></li>
        <li><a href="/2004/">2004 Lahti</a></li>
      </ul>
    </li>
  </ul>
</div>
​
