<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/static/css/base.css" type="text/css">
  <link rel="stylesheet" href="/static/css/skeleton.css" type="text/css">
  <link rel="stylesheet" href="/static/css/blog.css" type="text/css">
  <link rel="stylesheet" href="/static/css/shopbar.css" type="text/css">
  <!-- <link rel="stylesheet" href="/static/fancybox/jquery.fancybox.css" type="text/css">
  <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="/static/fancybox/jquery.fancybox.min.js "></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.post-assets a').fancybox();
  });
  </script> -->
  <title>NodeBox Workshops</title>
  
</head>
<body>
{% include shopbar.html %}
{{ content }}
</body>
</html>​