---
layout: modern
---

<div id="header" class="row">
  <div class="sixteen columns">
    <h1 id="header-name">
      NodeBox Workshops
    </h1>
    <hr />
    <p>
      <a href="https://www.emrg.be/">EMRG</a> has organized design workshops internationally since
      2004. A workshop usually spans a 1-2 week period involving both theory, art & design practice,
      and hands-on programming sessions. Here you will find the raw, unfinished work of our workshop
      participants.
    </p>
  </div>
</div>
<div id="content" class="sixteen columns">
  <div class="workshop-grid">
    {% assign workshops = site.workshops | reverse %} {% for workshop in workshops %}
    <a href="{{ workshop.url }}" class="thumb">
      <img class="thumb__image" src="{{ site.thumb_url }}{{ workshop.thumb }}" alt="{{ workshop.name }}" width="220" height="220" />
      <h5>{{ workshop.name }}</h5>
    </a>
    {% endfor %}
  </div>
</div>
