---
layout: modern
---

<div id="header" class="row">
  <div class="sixteen columns">
    <h1 id="header-name">
      <a href="{{ page.absolute_url }}">{{ page.title }}</a>
    </h1>
    <hr />
  </div>
</div>

<div id="content" class="sixteen columns">
  <div id="intro" class="row">
    <div class="sixteen columns alpha omega">
      <p>{{ page.description }}</p>
    </div>
  </div>

  <div id="workshop-about" class="row">
    <div class="sixteen columns alpha omega">
      {{ content }}
    </div>
  </div>

  <div class="workshop-posts">
    {% for post in site.posts %} {% assign asset = post.assets[0] %}
    <div class="thumb">
      <a href="{{ post.url }}">
        {% if asset %}
        <img
          src="/static/media/{{ post.workshop_slug }}/{{ asset.filename }}"
          width="220"
          height="220"
          alt="{{ post.title }}"
        />
        {% else %}
        <img
          src="/static/g/blank.png"
          width="220"
          height="220"
          alt="{{ post.title }}"
        />
        {% endif %}
        <h5>{{ post.title }}</h5>
        <p class="meta">
          <span class="author">{{ post.author }}</span>&nbsp;—&nbsp;
          <time datetime="{{ post.date }}"
            >{{ post.date | date: "%b %d, %Y" }}</time
          >
        </p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<!-- #content -->
